body {
    width: 80%;
    margin: 0 auto!important;
}



.total {
    background-color: #1e6b30;
    /*  height: 800px; */
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.titulo-noticia{
    text-align: left;
    font-size: 25px;
    color: greenyellow;
}

/* header */

.menu_logo {
    background-color: #ff6f5e;
    height: 100px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    text-align: center;
}

.txt_logo {
    background-color: #ff6f5e;
    text-align: left;
    width: 25%;
    float: left;
}

.txt_logo p {
    margin: 0px;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

.cont_logo {
    background-color:#ff6f5e;
    height: 85px;
    width: 48%;
    text-align: center;
    /* margin: 25px 0px 0px 20px; */
    padding: 5px;
    float: left;
}

.logo {
    height: 75px;
    width: 75px;
    background-color: #ff6f5e;
    float: center;
    margin: 0 auto;
}

.rrss {
    background-color: #f0134d;
    text-align: right;
    width: 100%;
    height: 80px;
    float: left;
}

.iconos {
    width: 35px;
    height: 35px;
    background: #5f6265;
    float: right;
    margin: 5px;
    border: 1px solid;
}


/* body */

.arriba {
    background-color: #ff6f5e;
    /* height: 763px; */
    width: 100%;
    height: 700px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    font-family: sans-serif;
}

.izquierda {
    background-color: #ff6f5e;
    /* height: 100%; */
    width: 18%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.menu_princ {
    width: 100%;
    margin: 10px 0px 5px 5px;
    padding: 20px 0px 20px 40px;
    float: left;
    /* height: 100px; */
    color: #b1aaaa;
    border: #b1aaaa 1px solid;
    width: 70%;
}

.menu_princ:hover {
    color: #be9696;
    border: #be9696 1px solid;
}

.menu_princ p {
    margin: 0px;
}

.derecha {
    background-color: #f5f0e3;
    /* height: 718px; */
    width: 66%;
    height: 700px;
    opacity: 0.8;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.contiene {
    background-color: #757272;
    /* height: 620px; */
    width: 96%;
    margin: 0px 0px 0px 0px;
    padding: 10px 12px 10px 12px;
    float: left;
}

.cuadritos {
    background-color: #ffffff;
    /* height: 200px; */
    width: 902;
    height: 565px;
    opacity: 0.8;
    margin: 5px;
    padding: 12px;
    float: left;
    text-align: left;
    border: 1px solid;
}

.txtcentro {
    color: green;
    font-size: 19px;
    width: 70%;
    margin: 0px;
    padding: 20px;
    min-height: 130px;
}
.boton_destaca{ 
	background-color: #a9fffd;
    width: 50%;
    padding: 10px 0px;
    border: 1px solid;
}
.boton_destaca a{ 
    color: aliceblue;
    text-decoration: none;
}
.imgcent {
    height: 350px;
    width: 500px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.listado {
    background-color: #ff6f5e;
    float: left;
    width: 16%;
}

.boton2 {
    border: 0px solid;
}

.boton2:hover {
    border: 0px solid;
}

/* footer */

.abajo {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: white;
    background-color: #f0134d;
    font-size: 20px;
    float: left;
}